storage: ~/storage/
render_size:
  x: 900
  y: 600
gui:
  cooling:
    buttons:
    - [['-20', -20], ['-15', -15], ['-10', -10], ['-5', -5]]
    - [[  '0',   0], [  '5',   5], [ '10',  10], ['15', 15]]
    - [[ '20',  20], [ '25',  25]]
  heating:
    buttons:
    - [[  '0%', 0.0], [ '1%', 0.01], ['2%', 0.02],   ['5%', 0.05]]
    - [[ '10%', 0.1], [ '20%', 0.2], ['40%',  0.4], ['Full', 1.0]]
  exposure:
    buttons:
    - [['0.1', 0.1], ['0.15', 0.15], ['0.2', 0.2], ['0.3', 0.3], ['0.5', 0.5], ['0.7', 0.7]]
    - [['1',   1],   ['1.5',  1.5],  ['2',   2],   ['3',   3],   ['5',   5],   ['7',   7]]
    - [['10',  10],  ['15',   15],   ['20',  20],  ['30',  30],  ['40',  40],  ['60',  60]]
    - [['1.5m', 90], ['2m',   120],  ['3m',  180], ['5m',  300], ['7m',  420], ['10m', 600]]
  gain:
    buttons:
    - [['0', 0], ['1000', 1000], ['2000', 2000], ['3000', 3000], ['4000', 4000], ['4030', 4030]]
io:
  trigger_input: /sys/class/gpio/gpio17/value
  exposure_status: /sys/class/gpio/gpio2/value
  heating_pwm: /sys/class/gpio/gpio4/value
  main_status: /sys/class/gpio/gpio3/value

