body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #008f53; /* Green */
  border: 0;
  color: white;
  padding: 14px 14px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.status {
  &.ok:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
  }

  &.warn:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
  }

  &.error:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
  }

  &.unknown:before {
    background-color: #AAAAAA;
    border-color: #888888;
    box-shadow: 0px 0px 4px 1px #AAAAAA;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}

.status-bar-body {
  border-bottom: 1px solid gray;
  padding: 2px;
}

.float-container {
  padding: 2px;
  height: 20px;
}

.float-child {
  float: left;
  padding-left: 5px;
  padding-right : 5px;
}

footer {
  border-top: 1px solid gray;
  margin-top: auto;
  padding: 2px;
}