body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #000099;
  border: 3px   solid #0000CC;
  border-radius: .70rem;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  width: 130px;
  font-weight: bold;
}

.short-button {
  width: 55px;
}

.button-selected, .button-selected:hover {
  background-color: #3333FF;
  border: 3px   solid #3333FF;
}

button:hover {
  background-color: #0000CC;
  border: 3px solid #3333FF;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.status {
  &.ok:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
  }

  &.warn:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
  }

  &.error:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
  }

  &.unknown:before {
    background-color: #AAAAAA;
    border-color: #888888;
    box-shadow: 0px 0px 4px 1px #AAAAAA;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}

.status-bar-body {
  border-bottom: 1px solid #111111;
  padding: 2px;
}

.float-container {
  padding: 2px;
  height: 20px;
}

.float-child {
  float: left;
  padding-left: 5px;
  padding-right : 5px;
}

footer {
  border-top: 1px solid gray;
  margin-top: auto;
  padding: 2px;
}

.div-table {
  display: table;
  width: auto;
  background-color: #222222;
  border: 1px solid #666666;
}
.div-table-row {
  display: table-row;
  clear: both;
}
.div-table-col {
  float: left;
  display: table-cell;
  width: 180px;
  background-color: #333333;
  padding: 2px;
}
.hist-table {
  display: table;
  width: auto;
}
.hist-table-col {
  background-color: black;
  float: left;
  display: table-cell;
  width: auto;
  padding: 2px;
}
.w100p {
  width: 100%;
}
.w60p {
  width: 60%;
}
.w40p {
  width: 39%;
}

.main-row {
  display: flex;
}

.main-image-column {
  flex: 66%;
}

.main-tool-column {
  flex: 34%;
}

.image-main {
  display: flex;
}

.image-tools {
  width: 60px;
}

.image-content {
  flex: auto;
  padding: 5px;
}

.image-tools-separator {
  height: 20px;
}
.hidden {
  visibility: hidden;
}
.gray-border {
  border: 1px solid gray;
}
.red {
  color: red;
}
.green {
  color: greenyellow;
}
.blue {
  color: #0050FF;
}